# This is a CODEOWNERS file, but everything is commented out for the purpose of this assignment 

# Each line is a file pattern followed by one or more ownership
# Each file of this repo requires a review and approval of <respective_team> for every change


# *     @respective_team